Learn Golang!!!

{{ $data := . }}

{{cus "test"}}

{{range $index, $value := $data.Slices}}
  {{$index}} {{$value}}
{{end}}

{{range $key, $value := $data.Maps}}
  {{lower $key}} {{upper $value}}
{{end}}
